{% extends 'base.html'%}

{% block content %}
<div class="container">
    {% for article in bbc-news %} 
    <div class="card" style="width: 18rem;">
        <img src="{{urlToImage}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.description}}</p>
          <a href="#" class="btn btn-primary">{{ article.publishedAt }}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}