{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{%block content%}


<h1 class="text-center fw-bold text-primary">TOP NEWS</h1>
<h2 class="text-center text-primary">News sources</h2>
<div class="row sources">
    <div class="col-3 ">
        <h1>General</h1>
        {{ macro.displaySourceList(general)}}
    </div>
    <div class="col-3">
        <h1>Business </h1>
        {{ macro.displaySourceList(business)}}
    </div>
    <div class="col-3">
        <h1>Entertainment </h1>
        {{ macro.displaySourceList(entertainment)}}
    </div>
    <div class="col-3">
        <h1>Sports</h1>
        {{ macro.displaySourceList(sports)}}
    </div>
</div>
{%endblock%}